@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer fonts {
  @font-face {
    font-family: "Times";
    src: url("/fonts/times.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope-Bold";
    src: url("/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope-ExtraBold";
    src: url("/fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope-ExtraLight";
    src: url("/fonts/Manrope-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope-Light";
    src: url("/fonts/Manrope-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope-Medium";
    src: url("/fonts/Manrope-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope-Regular";
    src: url("/fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Manrope-SemiBold";
    src: url("/fonts/Manrope-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

body {
  font-family: "Manrope-Regular", sans-serif;
  color: #323232;
}

.swiper-pagination-bullet.custom-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white; /* Default color for active dots */
  margin: 0 8px !important; /* Spacing between dots */
  display: inline-block;
  cursor: pointer;
  position: relative; /* Positioning the child element inside */
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 0.5; /* Inactive bullets have 50% opacity */
  background-color: #e0e0e0; /* Inactive bullets have white background */
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white; /* Active bullet color */
  opacity: 1; /* Active bullets have full opacity */
  box-shadow: 0 4px 8px rgba(224, 129, 5, 0.1);
}

.swiper-pagination-bullet:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  background-color: #ffd700; /* Highlight on hover with gold tone */
  opacity: 1; /* Ensure full visibility on hover */
}

@media (max-width: 640px) {
  .swiper-pagination-bullet.custom-dot {
    width: 10px;
    height: 10px;
    margin: 0 4px !important; /* Spacing between dots */
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
/* ::-webkit-scrollbar {
  width: 0;
} */

@layer components {
  .content-container {
    @apply max-w-[1200px] w-full mx-auto px-4 sm:px-8 md:px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .sm:text-3xl text-2xl -regular {
    @apply sm:text-3xl text-2xl  leading-[44px] font-normal;
  }

  .sm:text-3xl text-2xl -semi {
    @apply sm:text-3xl text-2xl  leading-[44px] font-semibold;
  }
}
